<ion-view view-title="Users">
	<ion-content>
		<a class="button button-full button-positive" href="#/app/users/list">
  			Show Users
		</a>
		<button class="button button-full button-calm">
  			Show Pets
		</button>
		<button class="button button-full button-assertive">
  			Create User
		</button>
		<button class="button button-full button-royal">
  			Create Pet
		</button>
	</ion-content>
</ion-view>
